{% extends 'base.html.twig' %}

{% block title %}Mon compte - VM Webstore{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    <!--Explosion d'un objet pour l'exploration de ses propriétés avec dump()-->
    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
    Vous pouvez y gérer toutes vos informations personnelles.

    <hr>
    - <a href="{{ path('account_password') }}">Modifier mot de passe</a><br/>
    - Ajouter mes adresses<br/>
    - Mes commmandes<br/>
    <hr>
    
{% endblock %}
